
body {
	background-color: #CCC;
	margin:80px 80px 100px 100px;
}
div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:10px;
}
div#fixedfooter1 {
	margin-bottom: -20px;
	width:20px;
	color:white;
	background:rgb(100, 114, 114);

}
div#fixedheader2 {
	position:fixed;
	top:60px;
	left:0px;
	width:100%;
	color:rgb(82, 78, 78);
	background:rgb(114, 112, 112);
	padding:8px;
}
div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}
b{
    color:white;
    font-size: 35px;
}